<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ScoreboardContext"
         connectionString="Data Source=contoso-sql-01.corp.local;Initial Catalog=Scoreboard;User ID=scoreboard_app;Password=__INJECTED_AT_DEPLOY__;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="ScoringServiceUrl" value="http://contoso-app.corp.local/ScoringService.svc"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
