<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- __CONNSTRING__ is substituted by the instance user-data at boot. -->
    <add name="Scoreboard" connectionString="__CONNSTRING__" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>
</configuration>
